<% if(locals.errors){ %> <% errors.forEach(function(error) { %>
  <div class="alert alert-warning alert-dismissible fade show d-flex align-items-center justify-content-between" role="alert">
    <p class="mb-0 text-dark d-inline-block"><%= error.msg %></p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% }); %> <% } %>

<% if(success_msg != ''){ %>
<div class="alert alert-success alert-dismissible fade show d-flex align-items-center justify-content-between" role="alert">
  <p class="mb-0 text-dark d-inline-block"><%= success_msg %></p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %> 

<% if(error_msg != ''){ %>
<div class="alert alert-danger alert-dismissible fade show d-flex align-items-center justify-content-between" role="alert">
  <p class="mb-0 text-dark d-inline-block"><%= error_msg %></p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %> 

<% if(error != ''){ %>
<div class="alert alert-danger alert-dismissible fade show d-flex align-items-center justify-content-between" role="alert">
  <p class="mb-0 text-dark d-inline-block"><%= error %></p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %>
