<nav class="navbar bg-primary">
    <div class="container-fluid mx-md-5 justify-space-between">
      <a class="navbar-brand" href="#">
        <img src="/images/logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
       <p class="nav-b-name">La'croix</p>
      </a>
      <a href="/users/logout" class="btn btn-primary rounded-pill ls-btn">Logout <i class='bx bx-log-out'></i></a>
    </div>
  </nav>