<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- CSS -->
    <link
      href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'
    />
    <link
      rel="stylesheet"
      href="/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      href="/css/animate.css"
    />
    <link
      rel="stylesheet"
      href="/css/styles.css"
    />
    <title>La'croix</title>
  </head>
  <body>
    <div><%- body %></div>
    <!-- JS -->
    <script src="/js/jquery.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/wow.js"></script>
  </body>
</html>
