
<div class="container-fluid ls-w">
  <div class="row align-items-center h-100">
    <div class="col-md-6 col-8 m-auto">
      <div class="card ls-card">
        <div class="card-header d-flex align-items-end justify-content-center">
          <img src="/images/logo.png" width="80" height="80" alt="logo">
          <h1 class="b-name text-center d-inline-block">La'criox</h1>
        </div>
        <div class="card-body">
          <h5 class="create text-center">Welcome to La'croix. Store your personal details securely. </h5>
        </div>
        <div class="card-footer row px-0 mx-0">
          <div class="col-6">
            <a href="/users/register" class="btn btn-primary w-100"
            >Register</a
          >
          </div>
          <div class="col-6">
            <a href="/users/login" class="btn btn-secondary w-100">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>