@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900');

h1, h2, h3{
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
}

a{
    text-decoration: none !important;
}

.btn{
    transition: all 0.5s ease;
}

.b-name{
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    font-size: 60px;
}

.nav-b-name{
    display: inline-block;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
}

form{
    margin-top: 20px;
}

input[type=text],
input[type=password],
input[type=number],
input[type=email],
input[type=tel]{
    background-color: #421399;
    transition: all 0.5s ease;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #5f5f5f; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #fff; 
}
/*====================================*/

/*login signup*/
.ls{
    background-image: linear-gradient(white, white), url("../images/login.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    background-blend-mode: saturation;
}

.ls-w{
    background-image: url("../images/login.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}


.ls-card{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-top: 8px solid #fff;
    -webkit-box-shadow: 0px 7px 19px -5px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 7px 19px -5px rgba(0,0,0,0.59);
    box-shadow: 0px 7px 19px -5px rgba(0,0,0,0.59);
    max-height: 90vh;
    overflow-y: auto;
}

.ls-btn{
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    font-family: 'Orbitron', sans-serif;
    /* margin-top: 10px; */
    font-weight: 600;
}

label{
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 500;
}

.ext{
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

a{
    transition: all 0.5s ease;
    color: #fff;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: #1ba2f6;
}
/*====================================*/

/* dashboard */
.d{
    background-color: #0f002a;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
.profile{
    overflow-y: auto;
}
.d-form{
    max-width: 1024px;
}
.d-fc{
    font-weight: 600 !important;
    border-radius: 50px;
    padding: 1rem 2rem;
    border: 2px solid #1ba2f6;
    -webkit-box-shadow: inset 0px 0px 15px 2px rgba(0,0,0,0.62);
    -moz-box-shadow: inset 0px 0px 15px 2px rgba(0,0,0,0.62);
    box-shadow: inset 0px 0px 15px 2px rgba(0,0,0,0.62);
}
/*====================================*/

.create{
    font-family: 'Orbitron';
}

@media only screen and (max-width: 900px) {
    .b-name{
        font-size: 40px;
    }
    .create{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 576px) {
    .b-name{
        font-size: 30px;
    }
    .create{
        font-size: 0.8rem;
    }
}

.alert-dismissible{
    padding-right: 1rem !important;
}